{% extends 'layout.html' %}
{% block content %}
<div class="container-fluid">
    <h1 class="display-5 text-center">Create Post</h1>
    <form method='POST' action='' enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <fieldset class='form-group'>
            <div class='form-group'>
                {{ form.title.label(class='form-control-label') }}
                {% if form.title.errors %}
                {{ form.title(class='form-control form-control-lg is-invalid') }}
                <div class='invalid-feedback'>
                    {% for error in form.title.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.title(class='form-control form-control-lg') }}
                {% endif %}
            </div>

            <div class='form-group'>
                {{ form.body.label(class='form-control-label') }}
                {% if form.body.errors %}
                {{ form.body(class='form-control form-control-lg is-invalid') }}
                <div class='invalid-feedback'>
                    {% for error in form.body.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.body(class='form-control form-control-lg') }}
                {% endif %}
            </div>

            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroupFileAddon01">Upload</span>
                </div>
                <div class="custom-file">
                    <input type="file" name='uploadImg' oninput="filesize(this);" class="custom-file-input"
                        id="customFile">
                    <label class="custom-file-label" for="customFile">Choose file</label>
                </div>
            </div>
        </fieldset>
        <div class='form-group'>
            {{ form.submit(class='btn btn-outline-info') }}
        </div>
    </form>
</div>
{% endblock content %}


{% block scripts %}
<script>
    // Displays file name on the upload input form.
    $(".custom-file-input").on("change", function () {
        var fileName = $(this).val().split("\\").pop();
        $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
    });

    // Get Image Size
    function filesize(elem) {
        document.cookie = `filesize=${elem.files[0].size}`;
    }

</script>
{% endblock scripts %}