{% extends 'layout.html' %}
{% block content %}

<div class="games-page-container">
    <h1 class='text-center p-4 display-5'> Current Top Games </h1>

    {% for game in games_list %}
    <div class="game-container">
        <div class="game-info">
            <a href="https://www.twitch.tv/directory/game/{{ game.name }}" class='font-weight-bold' target="_blank">{{ game.name }}</a>
            <p class='text-danger'>{{ game.viewers }} Viewers </p>
            <a href="https://www.twitch.tv/directory/game/{{ game.name }}" target="_blank"><img src="{{ game.thumbnail }}"></a>
        </div>
    </div>
    {% endfor %}

    <!-- PAGINATION BUTTONS -->
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center mt-5">
            <li class="page-item">
                <a class="page-link" href="/games?page={{ page - 1}}" tabindex="-1">Previous</a>
            </li>
            <li class="page-item w-25 text-center"><a class="page-link" href="">{{ page + 1}}</a></li>
            <li class="page-item">
                <a class="page-link" href="/games?page={{ page + 1 }}">Next</a>
            </li>
        </ul>
    </nav>
</div>
{% endblock content %}