{% extends 'layout.html' %}
{% block content %}
{% for post in posts %}

<div class="container-fluid text-center post-container">
    <h1 class='text-primary'> {{ post.title }} </h1>
    <h4>{{ post.body }}</h4>
    <p class="text-muted">Posted by <a class='text-info' href='#'>{{ post.author.username }}</a> on
        {{ post.date_posted.strftime('%m/%d/%Y - %I:%M %p') }}</p>
    <img class='img-fluid' id="user-image" src="{{ post.link }}">
</div>
<a href="{{ url_for('post_page', post_id=post.id) }}" class="btn btn btn-outline-primary ml-3">View All Comments</a>

<hr>
{% endfor %}
{% endblock content %}