{% extends 'layout.html' %}
{% block content %}
{% for user in streamers_page_list %}
{% for channel in channel_page_list %}
<style>
    .bg-streamer-page {
        background-image: url('{{ channel.channel_banner }}');
        background-position: center;
        background-repeat: no-repeat;

    }
</style>
<div class='bg-streamer-page text-dark rounded d-flex justify-content-center flex-column shadow shadow-lg'>
    <div class="streamer-banner-bar text-white" style="background-color: rgba(7, 0, 0, 0.7)">
        <h1 class='text-center p-3'>Overview For: <a href='{{ channel.channel_url }}' target="_blank" class='streamer-page-name'>{{ user.name }}</a>
            <img src="{{ user.logo }}" width="72" class='rounded ml-1'></h1>
        {% if not stream_status %}
        <p class='text-center'>Last Played Game: <span class='text-warning'>{{ channel.current_game }}</span></p>
        <p class='text-center'>Current Status: <span class='text-warning'>Offline</span></p>
        {% else %}
        <p class='text-center'>Current Game: <span class='text-danger'>{{ channel.current_game }}</span></p>
        <p class='text-center'>Current Status: <span class='text-danger'>{{ stream_status[0] | capitalize }}</span> <span class="fa fa-circle text-danger"></span></p>
        {% endif %}
    </div>
</div>
<hr>

<div class="row">
    <div class="col-md-8">
        <table class="table">
            <h2 class='text-center text-primary'>All Time</h2>
            <thead>
                <tr>
                    <th scope="col">Total Followers</th>
                    <th scope="col">Total Views</th>
                    <th scope="col">Hours Streamed</th>
                    <th scope="col">Peak Viewers</th>
                </tr>
            </thead>
            <tbody>
                <tr class='streamer-channel-info'>
                    <td>{{ channel.followers | commaFormat }}</td>
                    <td>{{ channel.views | commaFormat }}</td>
                    <td>{{ hours_streamed[0] }}</td>
                    <td>{{ peak_viewers[0] }}</td>
                </tr>

            </tbody>
        </table>
        <hr>
        <table class="table">
            <h2 class='text-center text-primary'>Monthly</h2>
            <thead>
                <tr>
                    <th scope="col">Average Viewers</th>
                    <th scope="col">Hours Watched</th>
                    <th scope="col">Hours Streamed</th>
                    <th scope="col">Peak Viewers</th>
                </tr>
            </thead>
            <tbody>
                <tr class='streamer-channel-info'>
                    <td>{{ avg_viewers[0] }}</td>
                    <td>{{ hrs_watched[0] }}</td>
                    <td>{{ hours_streamed_month[0] }}</td>
                    <td>{{ peak_viewers_month[0] }}</td>
                </tr>

            </tbody>
        </table>
    </div>
    <div class="col-md-4">
        <div class="card shadow mt-5">
            <div class="card-header">
                Channel Information
            </div>
            <div class="row">
                <div class="col-6">
                    <ul class="list-group list-group-flush font-weight-bold">
                        <li class="list-group-item">Language</li>
                        <li class="list-group-item">First Seen</li>
                        <li class="list-group-item">Last Seen</li>
                        <li class="list-group-item">Followers</li>
                    </ul>
                </div>
                <div class="col-6">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">{{ channel.language }}</li>
                        <li class="list-group-item">{{ user.first_seen.strftime('%b %d %Y') }}</li>
                        <li class="list-group-item">{{ readable_time }} ago</li>
                        <li class="list-group-item">{{ channel.followers | commaFormat }}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<hr>
<!-- chart canvas -->
<div class="row mb-5">
    <div class="col-md-8 mt-5">
        <div class="chart d-flex justify-content center flex-column ">
            <h3 class='text-center mb-4'>Viewers for {{ user.name }}'s stream</h3>

            <canvas id="weeklyFollowers" width="600" height="400"></canvas>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card shadow other-card-streamer">
            <div class="card-header">
                More Information about <span class='text-info'>{{ user.name }}</span>
            </div>
            <div class="card-body">
                <blockquote class="blockquote mb-0">
                    <span class="font-weight-bold mb-1 s-title">Current Stream Title:</span>
                    <p class='stream-title'>{{ channel.current_status }}</p>
                    <hr>
                    {% if channel.type == 'partner' %}
                    <p class='stream-title'>Twitch {{ channel.type | capitalize }}<i class="fa fa-twitch ml-1"></i></p>
                    {% else %}
                    <p class='stream-title'>Streamer is not Partnered &#9785;</p>
                    {% endif %}
                    <div data-lity data-lity-target='https://player.twitch.tv/?channel={{user.name}}&parent=localhost'>
                        <button type="button" class="btn btn-outline-info" data-toggle="modal" data-target=".open-stream">Watch Stream</button>
                    </div>
                </blockquote>
            </div>
        </div>
    </div>
</div>
{% endfor %}
{% endfor %}
<hr>
<!-- streamer clips -->
<div class="card mb-3">
    <div class="card-header d-flex">
        <h4>Top {{ streamer }} clips</h4>
        <a class="btn btn-md btn-outline-info ml-auto" href="#">More Clips</a>
    </div>
    <div class="card-body px-5">
        <div class="d-flex flex-wrap align-content-around justify-content-start">
            {% for clip in channel_clips_list %}
            <div class="px-2 pb-2 col-6 col-sm-6 col-md-6 col-lg-3">
                <div class='s-pg-clips' data-lity data-lity-target='{{ clip.clip_url }}&parent=localhost'>
                    <img src="{{ clip.clip_thumb }}" class='img-fluid s-pg-img'>
                </div>
                <div class="text-muted mt-1">
                    <div>
                        <a class="text-muted" href="{{ clip.url }}" target="_blank">{{ clip.name }}</a>
                        -
                        <a class="text-muted" href="https://www.twitch.tv/directory/{{ clip.clip_game }}" target="_blank">{{ clip.clip_game }}</a>
                    </div>
                    <div>{{ clip.clip_views | commaFormat }} views </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock content %}

<!-------------------------------------------------------- SCRIPTS BELOW-------------------------------------------------------- -->
{% block scripts %}
<script>
    // Global parameters:
    // do not resize the chart canvas when its container does (keep at 600x400px)
    Chart.defaults.global.responsive = true;
    // define the chart data
    let chartData = {
        labels: [{% for d in chart_streamer %} "{{ d.date_snapped.strftime('%I:%M %p') }}", {% endfor %}],
    datasets: [{
        label: '{{ legend }}',
        fill: 0,
        backgroundColor: '#581b98',
        hoverBackgroundColor: '#9c1de7',
        data: [{% for d in chart_streamer %} "{{ d.viewers }}", {% endfor %}],
        spanGaps: false,
            borderColor: '#9c1de7',
                pointBorderWidth: 3,
    }]
 }
    // get chart canvas
    let ctx = document.getElementById("weeklyFollowers").getContext("2d");

    // create the chart using the chart canvas
    let myChart = new Chart(ctx, {
        type: 'bar',
        data: chartData,

        options: {
            legend: 0,
            scales: {
                xAxes: [{
                    ticks: {
                        max: 90,
                        min: 1,
                        stepSize: 0
                    }
                }]
            }
        }
    });
</script>
{% endblock scripts %}