{% extends 'layout.html' %}
{% block content %}
<h1 class='text-center p-4 display-5'> Current Top Streamers </h1>

<div class="row">
    {% for streamer in streamers_list %}
    <div class="col-md-4">
        <div class="card shadow shadow-sm mb-4">
            <div class="card-img-top">
                <!-- ADD MODAL VIDEO -->
                <div data-lity data-lity-target="https://player.twitch.tv/?channel={{streamer.streamer_name}}&parent=localhost" class='p-0 m-0'>
                    <img src="{{ streamer.stream_thumbnail }}" class='browse-streamers-thumbnail img-fluid'>
                </div>
            </div>

            <div class="card-body">
                <h4>
                    <span><img src="{{ streamer.streamer_logo }}" class='streamer-logo'></span>
                    <a href="{{ url_for('streamers_page', streamer=streamer.streamer_name) }}">{{ streamer.streamer_name }}</a>

                    <a class='p-0 m-0' href="{{ streamer.stream_url }}" target="_blank">
                        <span><img src="../static/images/icons/twitch-text-logo.png" class="float-right twitch-text-logo"></span>
                    </a>
                </h4>

                <p class='text-danger mt-3 mb-0 viewers'>{{ streamer.current_viewers | commaFormat }} viewers <img class='ml-1' src="../static/images/icons/contacts-16.ico"></p>

                <a href="https://www.twitch.tv/directory/game/{{ streamer.current_game }}" target="_blank">
                    <p class='p-0 mb-0 mt-1 text-muted'>Playing: {{ streamer.current_game }}</p>
                </a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

<!-- PAGINATION BUTTONS -->
<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center mt-5">
        <li class="page-item">
            <a class="page-link" href="/streamers?page={{ page - 1}}" tabindex="-1">Previous</a>
        </li>
        <li class="page-item w-25 text-center"><a class="page-link" href="">{{ page + 1}}</a></li>
        <li class="page-item">
            <a class="page-link" href="/streamers?page={{ page + 1 }}">Next</a>
        </li>
    </ul>
</nav>
</div>
{% endblock content %}