{% extends 'layout.html' %}
{% block content %}
{% for user in streamers_page_list %}
{% for channel in channel_page_list %}
<style>
    .bg-streamer-page {
        background-image: url('{{ channel.channel_banner }}');
        background-position: center;
        background-repeat: no-repeat;

    }
</style>
<div class='bg-streamer-page text-dark rounded d-flex justify-content-center flex-column shadow shadow-lg'>
    <div class="streamer-banner-bar text-white" style="background-color: rgba(7, 0, 0, 0.7)">
        <h1 class='text-center p-3'>Overview For: <a href='{{ channel.channel_url }}' target="_blank" class='streamer-page-name'>{{ user.name }}</a>
            <img src="{{ user.logo }}" width="70" class='rounded ml-1'></h1>
        {% if not stream_status %}
        <p class='text-center'>Last Played Game: <span class='text-warning'>{{ channel.current_game }}</span></p>
        <p class='text-center'>Current Status: <span class='text-warning'>Offline</span></p>
        {% else %}
        <p class='text-center'>Current Game: <span class='text-danger'>{{ channel.current_game }}</span></p>
        <p class='text-center'>Current Status: <span class='text-danger'>{{ stream_status[0]['status'] | capitalize }}</span> <span class="fa fa-circle text-danger"></span></p>
        <p class='text-center'>
            Viewers: <span class='text-danger'>{{ stream_status[0]['viewers'] | commaFormat }}</span>
            <span><img class='mb-1' src="../static/images/icons/contacts-16.ico"></span>
        </p>
        {% endif %}
    </div>
</div>
<h5 class='text-center text-info p-4'>Current Stream Title: <span class="text-dark">{{ channel.current_status }}</span></h5>
<hr>

<div class="row">
    <div class="col-md-8">
        <table class="table">
            <h2 class='text-center text-primary'>All Time</h2>
            <thead>
                <tr>
                    <th scope="col">Total Followers</th>
                    <th scope="col">Total Views</th>
                    <th scope="col">Hours Streamed</th>
                    <th scope="col">Peak Viewers</th>
                </tr>
            </thead>
            <tbody>
                <tr class='streamer-channel-info'>
                    <td>{{ channel.followers | commaFormat }}</td>
                    <td>{{ channel.views | commaFormat }}</td>
                    <td>{{ hours_streamed[0] }}</td>
                    <td>{{ peak_viewers[0] }}</td>
                </tr>

            </tbody>
        </table>
        <hr>
        <table class="table">
            <h2 class='text-center text-primary'>Monthly</h2>
            <thead>
                <tr>
                    <th scope="col">Average Viewers</th>
                    <th scope="col">Hours Watched</th>
                    <th scope="col">Hours Streamed</th>
                    <th scope="col">Peak Viewers</th>
                </tr>
            </thead>
            <tbody>
                <tr class='streamer-channel-info'>
                    <td>{{ avg_viewers[0] }}</td>
                    <td>{{ hrs_watched[0] }}</td>
                    <td>{{ hours_streamed_month[0] }}</td>
                    <td>{{ peak_viewers_month[0] }}</td>
                </tr>

            </tbody>
        </table>
    </div>
    <div class="col-md-4">
        <div class="card shadow mt-5">
            <div class="card-header text-info">
                Channel Information
            </div>
            <div class="row">
                <div class="col-6">
                    <ul class="list-group list-group-flush font-weight-bold">
                        <li class="list-group-item">language</li>
                        <li class="list-group-item">First Seen</li>
                        <li class="list-group-item">Last Seen</li>
                        <li class="list-group-item">Followers</li>
                        <li class="list-group-item">Partner Status</li>
                    </ul>
                </div>
                <div class="col-6">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">{{ channel.language }}</li>
                        <li class="list-group-item">{{ user.first_seen.strftime('%b %d %Y') }}</li>
                        <li class="list-group-item">{{ readable_time }} ago</li>
                        <li class="list-group-item">{{ channel.followers | commaFormat }}</li>
                        {% if channel.type == 'partner' %}
                        <li class="list-group-item">
                            <p class='stream-title'>Twitch {{ channel.type | capitalize }}<i class="fa fa-twitch ml-1"></i></p>
                        </li>
                        {% else %}
                        <li class="list-group-item">
                            <p class='stream-title'>Not Partnered &#9785;</p>
                        </li>
                        {% endif %}


                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<hr>
<!-- player/chat canvas -->
<div class="row mb-5">
    <div class="col-md-8 mt-5">
        <div class="chart d-flex justify-content center flex-column ">
            <iframe allowfullscreen='1' src="https://player.twitch.tv/?channel={{user.name}}&parent=pogyou.herokuapp.com&autoplay=false" width='750' height="600"></iframe>
        </div>
    </div>

    <div class="col-md-4">
        <iframe class='mt-5' src="https://www.twitch.tv/embed/{{user.name}}/chat?parent=pogyou.herokuapp.com" height="600" width="300"></iframe>
    </div>
</div>
{% endfor %}
{% endfor %}
<hr>
<!-- streamer clips -->
<div class="card mb-3">
    <div class="card-header d-flex">
        <h4>Top {{ streamer }}'s clips</h4>
        <a class="btn btn-md btn-outline-info ml-auto" href="{{ url_for('more_clips', streamer=streamer) }}">More Clips</a>
    </div>
    <div class="card-body px-5">
        <div class="d-flex flex-wrap align-content-around justify-content-start">
            {% for clip in channel_clips_list %}
            <div class="px-2 pb-2 col-6 col-sm-6 col-md-6 col-lg-3">
                <div class='s-pg-clips' data-lity data-lity-target='{{ clip.clip_url }}&parent=pogyou.herokuapp.com'>
                    <img src="{{ clip.clip_thumb }}" class='img-fluid s-pg-img' onerror="imageError(this)">
                </div>
                <div class="text-muted mt-1">
                    <div>
                        <a class="text-muted" href="{{ clip.url }}" target="_blank">{{ clip.name }}</a>
                        -
                        <a class="text-muted" href="https://www.twitch.tv/directory/{{ clip.clip_game }}" target="_blank">{{ clip.clip_game }}</a>
                    </div>
                    <div>{{ clip.clip_views | commaFormat }} views </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock content %}

<!-------------------------------------------------------- SCRIPTS BELOW-------------------------------------------------------- -->
{% block scripts %}
<script src="../static/Chart.min.js"></script>
<script>
    // Global parameters:
    // do not resize the chart canvas when its container does (keep at 600x400px)
    Chart.defaults.global.responsive = true;
    // define the chart data
    let chartData = {
        labels: [{% for d in chart_streamer %} "{{ d.date_snapped.strftime('%I:%M %p') }}", {% endfor %}],
    datasets: [{
        label: '{{ legend }}',
        fill: 0,
        backgroundColor: '#581b98',
        hoverBackgroundColor: '#9c1de7',
        data: [{% for d in chart_streamer %} "{{ d.viewers }}", {% endfor %}],
        spanGaps: false,
            borderColor: '#9c1de7',
                pointBorderWidth: 3,
    }]
 }
    // get chart canvas
    let ctx = document.getElementById("weeklyFollowers").getContext("2d");

    // create the chart using the chart canvas
    let myChart = new Chart(ctx, {
        type: 'bar',
        data: chartData,

        options: {
            legend: 0,
            scales: {
                xAxes: [{
                    ticks: {
                        max: 90,
                        min: 1,
                        stepSize: 0
                    }
                }]
            }
        }
    });
</script>

<script>
    function imageError(image) {
        image.onerror = "";
        image.src = '../static/images/icons/peepoSad.jpg'
        return true
    }
</script>

{% endblock scripts %}