{% extends 'layout.html' %}
{% block content %}

<div class="user-page-container">
    <h1 class="text-center display-4">Showing all submissions for: <span class='user-page-name'>{{ user.username }}
        </span></h1>
    <hr>

    {% for post in posts %}
    <!-- Main post content -->
    <div class="container-fluid text-center post-container">
        <h1 class='text-primary'> {{ post.title }} </h1>
        <h4>{{ post.body }}</h4>
        <p class="text-muted">Posted by <a class='text-info'
                href="{{ url_for('user_posts', username=post.author.username) }}">{{ post.author.username }}</a> on
            {{ post.date_posted.strftime('%m/%d/%Y - %I:%M %p') }}</p>
        {% if post.link == "NONE" %}
        <div class="vid-container d-flex justify-content-center">
            <video width="900" height="580" controls>
                <source src="{{ post.clip }}" type="video/mp4">
            </video>
        </div>
        {% elif post.clip == "NONE" %}
        <img class='img-fluid' id="user-image" src="{{ post.link }}">
        {% endif %}
    </div>
    <!-- End main content -->

    <!-- Post action buttons -->
    <div class="action-btn">
        <a href="{{ url_for('post_page', post_id=post.id) }}" class="btn btn btn-primary mr-3">View All
            Comments</a>
        {% if post.author == current_user %}
        <a href="{{ url_for('comment', post_id=post.id) }}" class="btn btn btn-info mr-3">Reply</a>
        <a href="{{ url_for('edit_post', post_id=post.id) }}" class="btn btn btn-dark mr-3">Edit</a>
        <a href="{{ url_for('delete_post', post_id=post.id) }}" class="btn btn btn-danger del-button">Delete</a>
        {% endif %}
    </div>
    <hr>
    <!-- End action buttons -->

    <!-- Comment section -->
    {% for comment in comments %}
    <div class="d-flex flex-row mt-5 comment-section">
        <div class="p-2"><img src="../static/images/icons/user.png" alt="user" width="40" class="rounded-circle">
        </div>
        <div>
            <h4 class="mt-2">{{ comment.author.username }}</h4>
            <p>{{ comment.body }}</p>
            <span class="text-muted comment-date">{{ comment.date_replied.strftime('%m/%d/%Y - %I:%M %p') }}</span>
        </div>
    </div>
    {% endfor %}
    <!-- End comments -->
    {% endfor %}
</div>

{% endblock content %}