@import url('https://fonts.googleapis.com/css2?family=Cuprum:wght@400&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Cuprum', sans-serif;
}

.container-alert{
    margin-top: 1em;
}

.container-fluid{
    margin-top: 3em;    
}

.row{
// YEA
}
