@import url('https://fonts.googleapis.com/css2?family=Cuprum:wght@400&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Cuprum', sans-serif;
}

.container-alert{
    margin-top: 1em;
}

.container-fluid{
    margin: 3em;  
}

.action-btn{
    display: flex;
    justify-content: end;
    margin-right: 1em;
}

.post-page-container{
    height: 100%;
}

.comment-section{
    border: 1px solid rgb(202, 202, 202);
}

.user-page-name{
    color: rgb(188, 0, 235);
}
