@import url('https://fonts.googleapis.com/css2?family=Cuprum:wght@400&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Cuprum', sans-serif;

}

// html body{
//     background-color: #cccccc;
// }

.container-alert{
    margin-top: 1em;
}

.container-fluid{
    margin: 3em;  
}

.action-btn{
    display: flex;
    justify-content: end;
    margin-right: 1em;
}

.post-page-container{
    height: 100%;
}

.comment-section{
    border: 1px solid rgb(202, 202, 202);
}

.user-page-name{
    color: rgb(188, 0, 235);
}

.game-container{
    display: inline-block;
    .game-info{
        img{
            width: 240px;
        }
        margin-top: 2em;    
        margin-left: 1.8em;
    }
}

.streamer-logo{
    width: 30px;
    border-radius: 50%;
}

#new-tab{
    width: 18px;
}


.clip-api-thumb{
    position: relative;
    border-radius: 8%;
    width: 266px;
    height: 155px;
    filter: brightness(50%);

    &:hover{
        filter: brightness(100%);
    }
}
